In [1]:
from sklearn import linear_model
import pandas as pd
import numpy as np

In [2]:
logistic = linear_model.LogisticRegression()

In [8]:
df_MS=pd.read_csv('Data/Midsize SUV Regression data.csv', sep=',')
df_MS = df_MS.drop(['Demo_Census_4'],axis=1)
df_MS = df_MS.drop(['Demo_Census_9'],axis=1)
df_all.head()

,ID,Year,Make,MakeSeries,Segment,Cluster,YNV_GLB_16,Not Consider Other Makes,Not Consider Other Segments,OVC_US_2C1_1,...,INT_Index,SS_Index,AEN_Index,Seats_Index,HVAC_Index,DD_Index,ENGTRN_Index,VDS_Index,FUEL_Index,APEAL_OSAT
0,2266A47G,2016,Volkswagen,Volkswagen Jetta,Compact Car,2,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
1,2266A87M,2016,Volkswagen,Volkswagen Golf,Compact Car,1,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
2,25B4A3A3,2016,Subaru,Subaru Impreza,Compact Car,5,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
3,23B52323,2016,Ford,Ford Focus,Compact Car,5,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
4,23B5552H,2016,Ford,Ford Focus,Compact Car,4,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891

In [9]:
df_MC=pd.read_csv('Midsize Car Regression data.csv', sep=',')
df_MC = df_MC.drop(['Demo_Census_4'],axis=1)
df_MC = df_MC.drop(['Demo_Census_9'],axis=1)
df_all.head()

,ID,Year,Make,MakeSeries,Segment,Cluster,YNV_GLB_16,Not Consider Other Makes,Not Consider Other Segments,OVC_US_2C1_1,...,INT_Index,SS_Index,AEN_Index,Seats_Index,HVAC_Index,DD_Index,ENGTRN_Index,VDS_Index,FUEL_Index,APEAL_OSAT
0,2266A47G,2016,Volkswagen,Volkswagen Jetta,Compact Car,2,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
1,2266A87M,2016,Volkswagen,Volkswagen Golf,Compact Car,1,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
2,25B4A3A3,2016,Subaru,Subaru Impreza,Compact Car,5,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
3,23B52323,2016,Ford,Ford Focus,Compact Car,5,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
4,23B5552H,2016,Ford,Ford Focus,Compact Car,4,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891

In [10]:
df_CS=pd.read_csv('Compact SUV Regression data.csv', sep=',')
df_CS = df_CS.drop(['4Region'],axis=1)
df_CS = df_CS.drop(['9Region'],axis=1)
df_all.head()

,ID,Year,Make,MakeSeries,Segment,Cluster,YNV_GLB_16,Not Consider Other Makes,Not Consider Other Segments,OVC_US_2C1_1,...,INT_Index,SS_Index,AEN_Index,Seats_Index,HVAC_Index,DD_Index,ENGTRN_Index,VDS_Index,FUEL_Index,APEAL_OSAT
0,2266A47G,2016,Volkswagen,Volkswagen Jetta,Compact Car,2,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
1,2266A87M,2016,Volkswagen,Volkswagen Golf,Compact Car,1,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
2,25B4A3A3,2016,Subaru,Subaru Impreza,Compact Car,5,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
3,23B52323,2016,Ford,Ford Focus,Compact Car,5,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
4,23B5552H,2016,Ford,Ford Focus,Compact Car,4,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891

In [11]:
df_CC=pd.read_csv('Compact Car Regression data.csv', sep=',')
df_all.head()

,ID,Year,Make,MakeSeries,Segment,Cluster,YNV_GLB_16,Not Consider Other Makes,Not Consider Other Segments,OVC_US_2C1_1,...,INT_Index,SS_Index,AEN_Index,Seats_Index,HVAC_Index,DD_Index,ENGTRN_Index,VDS_Index,FUEL_Index,APEAL_OSAT
0,2266A47G,2016,Volkswagen,Volkswagen Jetta,Compact Car,2,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
1,2266A87M,2016,Volkswagen,Volkswagen Golf,Compact Car,1,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
2,25B4A3A3,2016,Subaru,Subaru Impreza,Compact Car,5,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
3,23B52323,2016,Ford,Ford Focus,Compact Car,5,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891
4,23B5552H,2016,Ford,Ford Focus,Compact Car,4,1,0,0,0,...,0.782466,0.733076,0.728474,0.752135,0.729945,0.770038,0.774328,0.750582,0.739125,0.827891

In [26]:
l=[df_MC,df_MS,df_CS,df_CC]
df_all = pd.concat(l, axis=0)
df_all=df_all.drop("APEAL_Index",1)
df_all.tail()

,ID,Year,Make,MakeSeries,Segment,Cluster,YNV_GLB_16,Not Consider Other Makes,Not Consider Other Segments,OVC_US_2C1_1,...,INT_Index,SS_Index,AEN_Index,Seats_Index,HVAC_Index,DD_Index,ENGTRN_Index,VDS_Index,FUEL_Index,APEAL_OSAT
16279,BBB9788Y,2014,Buick,Buick Verano,Compact Car,6,1,0,0,0,...,0.886333,0.716774,0.536078,0.831684,0.777778,0.638858,0.777778,0.649724,0.627959,0.777778
16280,BBB97956,2014,Buick,Buick Verano,Compact Car,2,0,0,0,0,...,1.000000,0.999778,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
16281,BBB97989,2014,Buick,Buick Verano,Compact Car,8,1,0,0,0,...,0.752831,0.761697,0.829520,0.786557,0.753731,0.850348,0.786499,0.803664,0.374556,0.888889
16282,BBB979AB,2014,Buick,Buick Verano,Compact Car,1,1,0,0,1,...,1.000000,0.973384,0.936570,1.000000,1.000000,0.876268,0.936531,0.818107,1.000000,1.000000
16283,BBB98A7@,2014,Buick,Buick Verano,Compact Car,7,0,0,0,0,...,0.888889,0.707654,0.888805,0.777778,0.888889,0.888889,0.888889,0.888889,0.888889,0.888889

In [27]:
makeList=df_all['Make'].unique()
print(makeList)

['Ford' 'Honda' 'Chrysler' 'Subaru' 'Volkswagen' 'Chevrolet' 'Kia' 'Toyota'
 'Hyundai' 'Buick' 'Mazda' 'Nissan' 'Dodge' 'GMC' 'Jeep' 'Mitsubishi'
 'Scion' 'MINI']

In [28]:
frames=[]
keys=[]
X=df_all.values[:,7:]
y=df_all.values[:,6]
y = np.array(y).astype(int)
logistic.fit(X,y)
frames.append(pd.DataFrame(logistic.coef_))
keys.append('all')
    
for make in makeList:
    train_data = df_all.loc[df_all['Make']==make]
    X=train_data.values[:,7:]
    y=train_data.values[:,6]
    y = np.array(y).astype(int)
    logistic.fit(X,y)
    frames.append(pd.DataFrame(logistic.coef_))
    keys.append(make)
    
result=pd.concat(frames,keys=keys).to_csv("results/Make LogReg_coefs.csv")

In [29]:
dfCor=df_all.corr()
dfCor.to_csv("Correlation Matrix.csv")